[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "*"
mistune = "*"
django-ckeditor = "*"
pillow = "*"
requests = "*"

[requires]
python_version = "3.6"
